aside.Logo{
    background-color: #003366;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.Logo img{
    padding:  0px 15px;
    width: 100%;
}

@media(max-width : 576px){
    aside.Logo img{
        width: 350px;
    }
}

